#practica2{

    text-align: center;
    text-decoration: underline;

}


#parrafo1{

    font-size: 32px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
    font-weight: bolder;
}

#parrafo2{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bolder;


}

.rojo{

    color: red;

}

.verde{

    color: green;

}

