#contenedor {
    width: 90%;

    margin: 0 auto;
}
body {
    color: #333333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
}


#navegador ul li {
    list-style-type: none;
    display: inline-block;
}

#navegador {
    background-color: #C00;

}

#izquierda {
    width: 75%;
    float: left;
    text-align: justify;

}

#izquierda h2 {
    letter-spacing: -3px;
}

#izquierda h2 a:link {
    font-size: 24px;
    color: #B7271F;
    text-decoration: none;
}

#izquierda h2 a:visited {
    font-size: 24px;
    color: #B7271F;
    text-decoration: none;
}

#izquierda a:link {
    color: #B7271F;
    text-decoration: none;
}

#izquierda a:visited {
    color: #B7271F;
    text-decoration: none;
}

#izquierda a:hover {
    color: #666;
    text-decoration: underline;
}

#derecha {
    width: 20%;

    float: left;
    margin-left: 2%;
    background-color: #FFDDDD;
    font-size: 14px;
}
#derecha ul li {
    border-bottom: 1px solid #ddd;

}
#derecha ul li a:link{
    color:#666;
    text-decoration: none;
}
#derecha ul li a:visited{
    color:#666;
    text-decoration: none;
}
#derecha ul li a:hover{
    color:#c00;
    text-decoration: none;
    font-weight: bold;
}
#derecha ul li {
    list-style-type: none;
    padding-left:20px;
   }
#derecha h2{
    padding-left: 5%;
}

#pie {
    margin-top: 5%;
    clear: both;
    text-align: center;
    border-top: 5px solid grey;
}


#cabecera h1 a {
    text-decoration: none;
    color: #b7211f;
}

#cabecera h2 {
    margin-top: -25px;
}

#navegador ul {
    margin-left: -50px;
}

#navegador ul li {
    padding-left: 1%;

}

#navegador ul li a:link {
    color: #fff;
    text-decoration: none;
}

#navegador ul li a:visited {
    color: #fff;
    text-decoration: none;
}

#navegador ul li a:hover {
    color: #fff;
    text-decoration: underline;

}
