body{

    background-color: azure;
    width: 100%;
}




main{

    margin: 0 auto;
    width: 700px;
    height: 600px;
    border-radius: 5%;
    background-color: aquamarine;
    margin-top: 140px;

}

header{

    background-color: grey;
    width: 300px;
    margin-left: 750px;
    box-shadow: -70px 70px 70px black;
}

h1{

    text-align: center;
    width: 300px;
    margin-top: 60px;


}



p{

    color: white;
    text-align: center;
    margin-top: 160px;
    font-size: 40px;
    font-weight: bold;
}

div{

    width:240px;
    height: 120px;
    background: yellow;
    margin: 0 auto;
    float: left;

    
}

#circulo{

    width: 400px;
    height: 400px;
    background-color: blue;
    border-radius: 100%;
    margin-top: 55px;
    margin-left: 145px;
    border: 6px solid black;
}