html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white

}

body{
    width: 960px;
    margin: 0 auto;

}



#derecha{

    width: 70%;
    float: right;
    text-align: justify;
}

#derecha a{

    
    color:orange;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#izquierda {
    width: 80%;
    float: left;
    text-align: justify;

}

#izquierda h3{

    background-color: rgba(247, 161, 0, 0.854);
}

#izquierda ul li{

    text-decoration: none;
    list-style:none;
    
}

#izquierda ul li a:visited{

    color: orange;
}

#izquierda ul li a:hover{

    color: black;
}

#izquierda ul li a:link{

    color: orange;
}

#izquierda ul li a{

    margin-left: -40px;
    text-decoration: none;
    list-style:none;


}


#izquierda{

    width: 20%;
    float: right;
    text-align: justify;
    margin-right: 70px;
    margin-top: 25px;
    background: linear-gradient(rgb(243, 235, 219), rgb(238, 189, 132));
}


#cabecera a{

    color: white;
    text-decoration: none;

}

#cabecera h2{

    color: white;
}

#cabecera{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(orange, rgb(238, 189, 132));
    width: 100%;
  
    

}


