body{
    width: 100%;
    
    

}

#contenedor {
    width: 50%;
    background-color: white;
    margin: 0 auto;
}


#derecha{

    background-color: white;
    width: 70%;
    float: right;
    text-align: justify;
}

#derecha a{

    
    color:orange;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#izquierda {
    width: 80%;
    float: left;
    text-align: justify;

}

#izquierda h3{

    background-color: rgba(247, 161, 0, 0.854);
}

#izquierda ul li{

    text-decoration: none;
    list-style:none;
    border-bottom: 1px solid #ffaa3b;
}



#izquierda{

    background-color: white;
    width: 20%;
    float: right;
    text-align: justify;
    margin-right: 70px;
    background: linear-gradient(rgb(243, 235, 219), rgb(238, 189, 132));
}


#cabecera{

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


#cabecera a{

    color: white;
    text-decoration: none;

}

#cabecera h2{

    color: white;
}

#cabecera{

    background: linear-gradient(orange, rgb(238, 189, 132));
    

}


