@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    max-width: 100%;
    min-height: 100%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: "Montserrat", sans-serif;
    color: white;
}

/*Contenido de la pagina index*/

#contenedor {
    width: 100vw;
    min-height: 100vh;
    background-color: #191c32;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 400px;
    grid-template-areas:
        "cabecera"
        "cuerpo"
        "pie";

}

.iniciales {
    font-size: 18px;
}

header {

    grid-area: cabecera;
    padding: 10px 10px;
    height: 5vh;


}

.menu_hamburguesa {
    display: none;
}

.menu_hamburguesa:checked+.header-menu {
    height: 100vh;
}

.header-menu {
    width: 100%;
    background-color: #191c32;
    position: absolute;
    top: 5vh;
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
}

main {
    grid-area: cuerpo;
    width: 70vw;
    margin: 0 auto;
}

section {
    grid-area: seccion;
}

.mi-imagen {
    grid-area: yo;
}



main section .descrip-inicio {
    text-align: justify;
    line-height: 26px;
    font-size: 16px;
}

main .info-contenido h1 span {
    color: aqua;
}

footer {
    grid-area: pie;
}

/*--- Header index --- */
.iniciales h2 {
    color: white;
}

.iniciales span {
    color: aqua;
}

nav {

    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem;

}

nav ul {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: aquamarine;
}

nav ul li .activo {
    color: aqua;
}


/*Main index*/

section p {
    width: 300px;
}


.mi-imagen img {
    width: 300px;
    margin: 0 auto;

}

main img {
    mask-image: linear-gradient(#191c32 50%,
            transparent);

}


main figure {

    margin: 0 auto;
    padding-top: 40px;
}

.descargar-cv {
    padding: 10px 20px;
    background-color: aqua;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 20px -3px rgba(102, 231, 200, .70);

}

.descargar-cv:hover {
    background-color: aquamarine;
    box-shadow: none;

}

/*FIN Main index movil*/

/*Main educacion.html movil*/

.contenedor-educacion {
    max-width: 100%;
    min-height: 100%;
}

.seccion-educacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 800px;
    grid-template-areas: "educacion"
        "experiencia";
}


.educacion-caja {
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-educacion .titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: aqua;
    border: 1px solid white;
}

.main-educacion h3 {

    font-size: 24px;
    margin-bottom: 10px;
}

.main-educacion p {
    font-size: 16px;
}


.experiencia-caja {
    margin-top: 30px;
}

.educacion-caja {
    border: 2px solid aqua;
    box-shadow: 1px 1px 11px -3px rgba(102, 231, 200, .70);
    padding: 20px;
}

.experiencia-caja {
    border: 2px solid aqua;
    box-shadow: 1px 1px 11px -3px rgba(102, 231, 200, .70);
    padding: 20px;
}

.experiencia-caja .date .bx {
    color: aquamarine;
}

.educacion-caja .date .bx {
    color: aquamarine;
}

.main-educacion .bx {
    color: aqua;
    font-size: 18px;

}

.seccion-educacion {
    grid-area: educacion;
}

.seccion-experiencia {
    grid-area: experiencia;
}


.main-educacion h2 {

    font-size: 30px;
}

.main-educacion h2 {
    font-size: 20px;
    box-shadow: 1px 1px 10px -3px rgba(102, 231, 200, .70);
}

/*Main educacion.html movil FIN*/

/*Main contacto.html movil*/
.seccion-contacto {
    max-width: 100%;
    min-height: 100%;
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;

}

.titulo-formulario {
    max-width: 100%;
    text-align: center;
    font-size: 3em;
}

.titulo-formulario span {
    color: aqua;
}

.contacto-envoltorio {
    box-shadow: 0 0 20px 0 rgb(255, 255, 255, .4);
    display: flex;
}

.contacto-envoltorio>* {

    padding: 1.5em;
}


.contacto-form {
    background-color: #20245b;
}

.contacto-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacto-form form p {
    margin: 0;
    padding: 1em;
}

.contacto-form form .bloque {

    grid-column: 1 / 3;
}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
    width: 100%;
    padding: .9em;
    border: none;
    background: none;
    outline: 0;
    color: white;
    border-bottom: 1px solid aqua;
}

.contacto-form form button {
    background: aqua;
    font-weight: bold;
    border: 0;
    color: black;
    text-transform: uppercase;
}

.contacto-form form button{
    
}


/*Footer index*/
footer {
    padding-top: 40px;
}

footer .animacion {
    color: #191c32;
    text-shadow:
        -1px -1px white,
        2px -1px 0 white,
        2px 1px 0 white;

}

footer .animacion h2 {
    font-size: 4rem;
    position: absolute;
    margin-left: 30vw;

}

.footer-logos {
    width: 60vw;
    height: 100px;
    margin-top: 5px;
}

.wave {
    color: aqua;
    animation: wave 3s ease-in-out infinite;
}

footer .footer-logos {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

footer .footer-logos .bloqueImagen {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

footer .footer-logos .bloqueImagen img {
    width: 80px;
}


/* Animación de olas */

@keyframes wave {

    /*La animación comienza con la forma de onda inicial (0%).
    A medida que avanza la animación (0% a 50%), la parte inferior de la onda se abomba hacia arriba, 
    creando una forma de onda más pronunciada.*/

    /*Luego, la animación se invierte (50% a 100%), la parte inferior de la onda 
    se aplana nuevamente, regresando a la forma inicial.*/
    0%,
    100% {
        clip-path: polygon(0% 47%,
                10% 48%,
                33% 54%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    /*En el punto medio (50%), la onda alcanza su punto máximo, con la parte inferior 
    del polígono curvándose hacia arriba lo más posible.*/
    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

/*FIN Footer index Movil*/

/*Media Query Tablet INDEX*/

@media (min-width: 768px) and (max-width:1024px) {

    #contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px auto 400px;
        grid-template-areas:
            "cabecera cabecera"
            "cuerpo cuerpo"
            "pie pie";
    }

    main {
        display: flex;
        gap: 9%;
    }

    header {
        padding: 20px 10px;
    }

    .label_hamburguesa {
        display: none;
    }

    .header-menu {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }



    nav ul li a:hover {
        background-color: aqua;
        color: #191c32;
        border-radius: 3px;
        transition: ease-in 0.3s;
    }

    footer .animacion h2 {
        margin-left: 40%;
    }

    main figure {
        padding-top: 0px;
    }

    /*FIN Media Query Tablet INDEX*/

    /*Main educacion.html tablet*/

    .contenedor-educacion {
        max-width: 100%;
        min-height: 100%;
        padding-left: 25%;
        gap: 30px;
    }


    .main-educacion .educacion-caja,
    .experiencia-caja {
        height: 340px;
    }

    .seccion-educacion {
        display: grid;
        justify-content: center;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 750px 40px;
        grid-template-areas: "educacion experiencia"
            "educacion experiencia";
    }

    /*Main educacion.html tablet FIN*/

}





/*Media Query Ordenador INDEX*/

@media (min-width: 1025px) {

    #contenedor {
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;

    }

    .label_hamburguesa {
        display: none;
    }

    .header-menu {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }

    header {
        padding: 20px 10px;
    }

    main {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1000px auto 600px;
        grid-template-rows: 520px;
        grid-template-areas: "seccion seccion yo";
    }

    main section h1 {
        margin-bottom: 20px;
        font-size: 34px;
    }

    main .info-contenido {
        width: 82%;

    }

    main .info-contenido p {
        width: 100%;
        font-size: 20px;
    }

    .mi-imagen img {
        width: 300px;

    }

    main .mi-imagen {
        width: 35%;
        margin-left: 50px;
        margin-top: 10px;
    }

    section {
        margin-top: 30px;
    }

    main .mi-imagen img {

        width: 166%;
    }


    footer .footer-logos .bloqueImagen {
        width: 80%;
        display: flex;
        justify-content: space-between;
        gap: 100px;

    }

    .animacion {
        padding-left: 15.5%;
    }

    /*FIN Media Query Ordenador INDEX*/

    /*Main educacion.html Ordenador*/

    .contenedor-educacion {
        width: 180%;
        padding-left: 15%;
    }

    .main-educacion .educacion-caja,
    .experiencia-caja {
        height: 220px;
    }

    .seccion-educacion {
        gap: 40px;
        display: grid;
        justify-content: center;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: 100px 100px 100px;
        grid-template-areas: "educacion experiencia"
            "educacion experiencia"
            "educacion experiencia";
    }

    .main-educacion {
        padding: 80px;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
    }

    /*Main educacion.html Ordenador FIN*/


}