@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --altura_header: 100px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: "Montserrat", sans-serif;
    color: white;
}

/*Contenido de la pagina index*/

#contenedor {
    width: 100vw;
    min-height: 100vh;
    background-color: #191c32;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto 180px;
    grid-template-areas:
        "cabecera"
        "cuerpo"
        "pie";

}

header {

    grid-area: cabecera;
    padding: 10px 10px;

}

main {
    grid-area: cuerpo;
    width: 70vw;
    margin: 0 auto;
}

footer {
    grid-area: pie;
}

/*--- Header index --- */
.iniciales h2 {
    color: white;
}

.iniciales span {
    color: aqua;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    display: inline;


}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/*Main index*/

section p {
    width: 300px;
}


.mi-imagen img {
    width: 340px;
    margin: 0 auto;

}

main img {
    padding-bottom: 30px;
    mask-image: linear-gradient(#000000 60%,
            transparent);

}


main figure {

    margin: 0 auto;
}


/*Footer index*/

footer figure img {
    width: 40px;
}