*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
  
    display: grid;
    width: 100dvw;
    height: 100vh;
    grid-template-areas: "cabecera, cabecera, cabecera"
                         "navegador navegador navegador"
                         "seccion seccion seccion"
                         "lateral lateral lateral"
                         "pie pie pie";

}

header{
    grid-area: cabecera;
    background-color: blueviolet;
}

nav{

    background-color: rgb(103, 163, 232);
    grid-area: navegador;
}

section{

    background-color: purple;
    grid-area: seccion;
}

aside{

    background-color: pink;
    grid-area: lateral;
}

footer{

    background-color: palevioletred;
    grid-area: pie;
}