*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#container{
    width: 100dvw;
    height: 100dvh;
}

main{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "aside"
    "footer";
}

header{
    grid-area: header;
    background-color: purple;
}

nav{
    grid-area: nav;
    background-color: aquamarine;
}

section{
    grid-area: section;
    background-color: blueviolet;
}

aside{
    grid-area: aside;
    background-color: gold;
}

footer{
    grid-area: footer;
    background-color: palevioletred;
}

@media (min-width: 600px) and (max-width:1000px){

    main{

        grid-template-areas: 
        "header header"
        "nav nav"
        "aside section"
        "footer footer";
        grid-template-rows: 20dvh 10dvh auto 10dvh;
        grid-template-columns: 1fr 4fr;

    }
}

@media (min-width: 1001px){

    main{

        grid-template-areas: 
        "header header header"
        "nav section aside"
        "footer footer footer";
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 20dvh 70dvh 10dvh ;

    }


}