*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main{
  
    display: grid;
    width: 100dvw;
    height: 100vh;
    grid-template-areas: "cabecera cabecera cabecera"
                         "navegador navegador navegador"
                         "seccion seccion seccion"
                         "lateral lateral lateral"
                         "pie pie pie";

}

header{
    grid-area: cabecera;
    background-color: blueviolet;
}

nav{

    background-color: rgb(103, 163, 232);
    grid-area: navegador;
}

section{

    background-color: purple;
    grid-area: seccion;
}

aside{

    background-color: pink;
    grid-area: lateral;
}

footer{

    background-color: palevioletred;
    grid-area: pie;
}

@media(min-width: 600px) and (max-width:1000px){

    main{

        grid-template-areas: 
        "cabecera cabecera cabecera"
        "navegacion navegacion navegacion"
        "lateral seccion seccion"
        "footer footer footer";
        grid-template-rows: 10dvh auto 10dvh;
        grid-template-columns: 20dvw auto auto;
    }

}