*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 70px;
}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{

    width: 45dvw;
    height: 20dvh;
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#container div{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}


.c1{

    grid-column: 1 / span 3;
}

.c2{
    grid-row: 2 / span 2;
}

