*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-bottom: 70px;
}

body{
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#container{

    width: 50vw;
    height: 50vh;
    display: grid;
    margin: 0 auto;
    gap: 1px;
    grid-template-areas: 
    "c1 c1 c1"
    "c2 c3 c4"
    "c2 c5 c6";
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
}

#container div{

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


.c1{

    grid-area: c1;
    background-color: gray;
}

.c2{

    grid-area: c2;
    background-color: gray;
}

.c3{

    grid-area: c3;
    background-color: gray;

}

.c4{

    grid-area: c4;
    background-color: gray;
}

.c5{

    grid-area: c5;
    background-color: gray;
}

.c6{

    grid-area: c6;
    background-color: gray;

}

