*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

    width: 90%;
    font-family: sans-serif;
    background-color: rgba(70, 80, 80, 0.8);
    height: 80%;
}

h1{
    text-align: center;
    color: white;
    text-decoration: underline;
    margin-top: 50px;
}

ul{
    display: flex;
    width: 70%;
    padding: 0.5rem;
    margin: 0 auto;
    justify-content: center;

}

li{

    margin: 0.5rem;
    padding: 5px;
    text-align: center;
    list-style: none;
    
}

  
  div {
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
    background-color: palevioletred;
    color: white;
  }