#contenedor_padre{

    align-content: center;

}


#caja_naranja{

    width: 150px;
    height: 450px;
    background: orange;
    text-align: center;
    font-weight: bold;

}

#caja_gris{

    width: 150px;
    height: 300px;
    background: gray;
    text-align: center;
    font-weight: bold;
    
}



#caja_rosa{

    width: 150px;
    height: 300px;
    background: pink;
    text-align: center;
    font-weight: bold;
    
}


#caja_azul{

    width: 150px;
    height: 150px;
    background:aqua;
    text-align: center;
    font-weight: bold;
    float:left;
	padding: 4px;
	margin: 4px;

    
}

#caja_amarilla{

    width: 150px;
    height: 150px;
    background: yellow;
    text-align: center;
    font-weight: bold;
    float:left;
	padding: 4px;
	margin: 4px;

}

body{

    background: black;
}