body{

    background-color: azure;
    width: 100%;
    padding-top: 30px;
}

main{
    margin: 0 auto;
    width: 70%;
    background-color: aqua;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}

