html{

    font-family: Arial, sans-serif;
}

header{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/fondo.jpg);
}

body{

    background-color: #F3F2ED;

}

#menu{


    display: flex;
    list-style: none;
    gap: 300px;
    text-decoration: none;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    height: 70px;

}

#logo{

    align-content: center;
    height: 100px;

}

#primero{

    color: red;
    font-weight: bolder;
    text-decoration: underline overline;
    
}

nav{

    background-color: #ab2a3e;
    width: 100%;
    justify-content: center;
    position: relative;
   
}

a:link{

    color:white;
    text-decoration: none;
    font-size: 15px;
  
}

a:hover{

    color: red;

}

a:visited{

    color: white;
}

#envoltura{

    display: flex;
    margin-top: 80px;
}



footer{

    background-color: #ab2a3e;
    color: white;
    text-align: center;
    height: 30px;

   
}